<h3 class="text"> <a ui-sref="home"><h2>Weather Site Light</h2></a></h3>
<hr />

<!-- <ul class="nav nav-pills pull-left">

	<li class="active">
	<li><a href="#">Home</a></li>
	<li><a href="#">Weather</a></li>
	<li><a href="#">Map</a></li>
	<li><a href="#">About</a></li>

	</li>
</ul> -->

	<div class='navbar navbar-inverse'>
		<div class='navbar-inner nav-collapse' style="height: auto;">
			<ul class="nav">
				<!-- <li class="active"> -->
				<li><a ui-sref="home">Home</a></li>
				<li><a ui-sref="weather">Weather</a></li>
				<li><a ui-sref="map">Map</a></li>
				<li><a ui-sref="about">About Us</a></li>
				<!-- </li> -->
			</ul>				
		</div>
	</div>

